# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.xml
node_modules/.bin/nodemon

/node_modules/
*.iml
uploads/FreeReactDay1.mp4
uploads/FreeReactDay2.mp4
uploads/Server Rendering with React and React Router v4-mZEv4mHsU5E.mp4
db/chat.json
