.front-end {
  background-color: #2bb5d9; }
  .front-end:hover {
    background-color: #2093b1; }

.back-end {
  background-color: #e8596b; }
  .back-end:hover {
    background-color: #d71e35; }

.block-chain {
  background-color: #ffa084; }
  .block-chain:hover {
    background-color: #FF7851; }

.algorithm {
  background-color: #78C2AD; }
  .algorithm:hover {
    background-color: #4aa48a; }

.front-end.selected {
  background-color: #2093b1; }

.back-end.selected {
  background-color: #c01b30; }

.wd-card {
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  z-index: 1;
  margin-bottom: 10px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: relative;
  padding: 16px; }

.wd-card .card-remove {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 10; }
  .wd-card .card-remove .icon-clear {
    fill: #646464; }
    .wd-card .card-remove .icon-clear:hover {
      fill: #000; }

.wd-card .feed-date {
  padding-top: 4px;
  position: relative;
  color: #8590a6;
  font-size: 15px; }

.wd-card .feed-author {
  padding: 10px 0;
  position: relative;
  white-space: nowrap;
  display: flex;
  align-items: center; }
  .wd-card .feed-author .author-avatar {
    margin-right: 16px; }
    .wd-card .feed-author .author-avatar > img {
      height: 40px;
      width: 40px;
      border-radius: 50%; }
  .wd-card .feed-author .author-detail {
    white-space: normal; }
    .wd-card .feed-author .author-detail .author-name {
      color: #1e1e1e;
      font-weight: 600;
      display: block;
      margin: 0 11px; }
      .wd-card .feed-author .author-detail .author-name > a {
        font-size: 16px; }
        .wd-card .feed-author .author-detail .author-name > a:hover {
          color: #225e97; }
    .wd-card .feed-author .author-detail .author-note {
      display: block;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.5);
      position: relative; }
      .wd-card .feed-author .author-detail .author-note:before {
        content: '"';
        position: relative;
        left: 4px; }
      .wd-card .feed-author .author-detail .author-note:after {
        content: '"';
        position: relative;
        right: 4px; }

.wd-card .content-box {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s; }
  .wd-card .content-box .content-title {
    word-break: break-all;
    word-wrap: break-word;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
    color: #1a1a1a;
    margin-bottom: 8px; }
    .wd-card .content-box .content-title:hover {
      color: #646464; }
  .wd-card .content-box .content-main {
    display: block;
    margin-bottom: 10px; }
    .wd-card .content-box .content-main .content-detail {
      line-height: 1.6;
      word-break: break-all;
      cursor: pointer; }
      .wd-card .content-box .content-main .content-detail:hover {
        color: #646464; }
    .wd-card .content-box .content-main .content-expand {
      margin-left: 10px;
      cursor: pointer;
      color: #2b78c1;
      font-size: inherit;
      position: relative; }
      .wd-card .content-box .content-main .content-expand:hover svg path, .wd-card .content-box .content-main .content-expand:hover {
        fill: #8590a6;
        color: #8590a6; }
      .wd-card .content-box .content-main .content-expand .icon-down {
        fill: #8590a6;
        position: absolute;
        top: 60%;
        transform: translate(0, -50%); }

.wd-card .tag-list {
  display: flex;
  margin: 12px 0; }
  .wd-card .tag-list .topic-tag {
    margin-right: 10px;
    color: #fff;
    padding: 2px 8px;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    font-size: 14px; }

.wd-card .card-action {
  display: flex;
  align-items: center;
  cursor: default;
  margin-top: 20px; }
  .wd-card .card-action > span {
    margin-right: 30px;
    font-size: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #646464; }
    .wd-card .card-action > span .icon-font {
      margin-right: 4px; }
  .wd-card .card-action .action-comments:hover {
    color: #1e1e1e; }
  .wd-card .card-action .action-mark:hover, .wd-card .card-action .action-mark:hover svg {
    color: #1e1e1e; }
  .wd-card .card-action .action-mark.marked {
    color: #4aa48a; }
    .wd-card .card-action .action-mark.marked .icon-star {
      color: #4aa48a; }
  .wd-card .card-action .action-like:hover {
    color: #1e1e1e; }
    .wd-card .card-action .action-like:hover .icon-like {
      color: #f7c0c2; }
  .wd-card .card-action .action-like.liked {
    color: #1e1e1e; }
    .wd-card .card-action .action-like.liked .icon-like {
      color: #F3969A; }
  .wd-card .card-action .action-star:hover {
    color: #1e1e1e; }
    .wd-card .card-action .action-star:hover .icon-like {
      color: #f7c0c2; }
  .wd-card .card-action .action-star.starred {
    color: #cd8b00; }
    .wd-card .card-action .action-star.starred .icon-mark {
      fill: #cd8b00;
      color: #cd8b00; }

.wd-card .topic-tag {
  color: #fff;
  padding: 6px 8px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 15px; }
  .wd-card .topic-tag > span {
    color: inherit;
    cursor: default; }

.comments-container {
  margin: 16px;
  padding: 10px 16px;
  position: relative;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2); }
  .comments-container .comment-bar {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    padding: 10px 0;
    color: #1a1a1a;
    margin-bottom: 8px;
    border-bottom: 1px solid #8590a6; }
    .comments-container .comment-bar div {
      padding: 0 15px; }
  .comments-container .comments-list {
    margin: 10px 0; }
    .comments-container .comments-list > div + div {
      border-top: 1px solid #e5e5e5; }
    .comments-container .comments-list .comments-item {
      font-size: 14px;
      margin-bottom: 10px;
      padding: 15px 0; }
      .comments-container .comments-list .comments-item .comments-user {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px; }
        .comments-container .comments-list .comments-item .comments-user .userLink {
          display: flex;
          align-items: center;
          color: #646464; }
          .comments-container .comments-list .comments-item .comments-user .userLink img {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            margin-right: 5px; }
      .comments-container .comments-list .comments-item .comments-content {
        padding: 0 5px;
        line-height: 1.6; }
      .comments-container .comments-list .comments-item .comments-action {
        padding: 10px 16px;
        color: #646464;
        font-size: 16px;
        cursor: pointer; }
        .comments-container .comments-list .comments-item .comments-action .icon-font {
          color: #646464; }
        .comments-container .comments-list .comments-item .comments-action:hover svg, .comments-container .comments-list .comments-item .comments-action:hover {
          color: #1e1e1e; }

/*# sourceMappingURL=card.css.map */
