* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Microsoft YaHei", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", sans-serif;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-overflow-scrolling: touch !important;
  -webkit-tap-highlight-color: transparent !important; }

a {
  text-decoration: none;
  color: inherit; }

ul, li {
  list-style: none; }

body {
  background-color: #e9f8df;
  font-weight: 300; }

.button-plain {
  border: 0; }
  .button-plain:focus {
    outline: 0; }

body > header {
  font-size: 15px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff; }
  body > header > .header-container {
    max-width: 1000px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 8px; }

header .header-logo a {
  display: flex;
  fill: #00a699; }

.header-nav > a.active {
  color: #00736a; }

.header-nav > a {
  display: inline-block;
  color: #1e1e1e;
  height: inherit;
  padding: 0 15px;
  font-size: 20px;
  line-height: 30px; }
  .header-nav > a:hover {
    color: #FF7851; }

header .header-search {
  flex: 1;
  display: flex;
  justify-content: center; }
  header .header-search .input-wrapper {
    box-sizing: border-box; }
  header .header-search input {
    display: block;
    margin: 0 auto;
    height: 20px;
    font-size: 15px;
    line-height: 20px;
    overflow: hidden;
    border-radius: 3px;
    padding: 6px 20px 6px 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #f6f6f6;
    outline: 0; }

header .header-info {
  margin-left: auto; }

header .header-avatar {
  cursor: pointer;
  position: relative;
  float: right; }
  header .header-avatar > img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: right; }

.header-avatar .header-popover {
  display: none;
  position: absolute;
  left: 0;
  top: 48px;
  transform: translateX(calc(-50% + 15px));
  border-radius: 3px;
  font-size: 14px; }

.header-popover.show-user {
  display: block; }
  .header-popover.show-user:focus {
    outline: 0; }

header .header-login .signIn {
  color: #00a699;
  margin-right: 10px; }
  header .header-login .signIn:hover {
    color: #e83e8c; }
header .header-login .signUp {
  color: #00a699;
  border: 1px solid rgba(0, 166, 153, 0.3);
  padding: 6px;
  border-radius: 3px;
  box-sizing: border-box; }
  header .header-login .signUp:hover {
    color: #fff;
    background-color: #00a699;
    border-color: #00a699; }

@media (max-width: 315px) {
  header .header-title {
    display: none; } }
header .header-title {
  position: relative;
  font-size: 18px;
  line-height: 30px;
  color: #2e2e2e;
  margin-left: 50px;
  text-align: center; }
  header .header-title:before {
    content: "";
    width: 2px;
    height: 30px;
    background-color: #dfdfdf;
    position: absolute;
    left: -20px;
    margin-right: 30px; }

.main {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }

.content-box {
  color: #757575;
  width: 500px;
  height: 560px;
  background-color: #8cc150;
  box-shadow: -12px 3px 15px rgba(0, 0, 0, 0.3);
  z-index: 101;
  border: 0; }

.calendar-box {
  width: 500px;
  background-color: #fff;
  padding: 5px 20px 20px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 0; }
  @media (max-width: 315px) {
    .calendar-box header .header-title {
      display: none; } }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 25px;
  color: #757575;
  margin: 10px 0 30px 0; }
  .header .currentYear {
    font-weight: 500;
    width: 60px; }
  .header > a {
    margin: 0 20px;
    position: relative;
    top: -2px;
    color: #c9c9c9; }
    .header > a:hover {
      color: #757575; }
  .header .previous {
    order: -1; }

.month-lists {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #c9c9c9;
  margin-bottom: 15px;
  text-align: center;
  padding: 0 20px; }
  .month-lists .month-detail {
    width: 41.6666666667px;
    font-size: 10px;
    line-height: 24px;
    cursor: pointer;
    transition: 0.25s linear; }
    .month-lists .month-detail:hover {
      color: #b0b0b0;
      font-size: 16px; }
    .month-lists .month-detail.selected {
      color: #1a1a1a;
      font-size: 16px;
      font-weight: 500;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

.week-lists, .date-lists {
  display: flex;
  color: #757575;
  font-size: 18px; }
  .week-lists .week-special, .date-lists .week-special {
    width: 71.4285714286px;
    text-align: center; }

.date-lists {
  flex-wrap: wrap;
  cursor: pointer;
  height: 390px;
  margin-top: 10px; }
  .date-lists > li {
    position: relative;
    width: 71.4285714286px;
    height: 38px;
    padding: 10px 0;
    text-align: center;
    border-radius: 3px;
    transition: 0.3s; }
    .date-lists > li > svg {
      width: 14px;
      height: 10px;
      position: absolute;
      bottom: 10px;
      right: 50%;
      transform: translateX(47%); }

.active {
  color: #fff;
  background-color: #8cc150;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); }

.previous-dateList, .next-dateList {
  color: #c9c9c9; }

.content-box {
  display: flex;
  padding-left: 40px;
  box-sizing: border-box;
  letter-spacing: 1px; }
  .content-box .shadow-effect {
    width: 25px;
    height: 100%;
    background: #79a847;
    box-shadow: 5px 1px 20px rgba(0, 0, 0, 0.3); }
  .content-box .content-wrapper {
    flex: 1;
    color: #fff;
    transition: all 3s; }
  .content-box .content-date-detail {
    flex: 1;
    font-size: 32px; }
    .content-box .content-date-detail .content-year {
      display: flex;
      flex-direction: row-reverse;
      margin-right: 30px;
      font-size: 40px; }
    .content-box .content-date-detail .date-wrapper {
      margin-top: 50px; }
  .content-box .reminder-container {
    position: relative;
    margin-top: 50px;
    margin-right: 100px;
    font-size: 18px; }
    .content-box .reminder-container .title {
      padding-bottom: 4px;
      border-bottom: 1px solid #e9f8df;
      margin-bottom: 10px; }
    .content-box .reminder-container .reminder-items {
      transition: 0.3s;
      overflow-y: auto;
      max-height: 350px; }
    .content-box .reminder-container .reminder-item {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      border-bottom: 1px dotted rgba(233, 248, 223, 0.3); }
      .content-box .reminder-container .reminder-item input.item-status {
        margin-right: 10px;
        width: 25px;
        height: 25px; }
      .content-box .reminder-container .reminder-item .item-content {
        flex: 1;
        max-width: 240px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
        .content-box .reminder-container .reminder-item .item-content:focus {
          outline: 0; }
        .content-box .reminder-container .reminder-item .item-content.done {
          transition: all 0.3s;
          text-decoration: #dd6262 line-through; }
      .content-box .reminder-container .reminder-item .item-actions {
        margin-right: 10px;
        display: flex;
        align-items: center; }
      .content-box .reminder-container .reminder-item .icon {
        fill: #fff;
        height: 20px;
        width: 20px;
        margin-left: 5px;
        cursor: pointer; }
        .content-box .reminder-container .reminder-item .icon:hover {
          fill: #757575; }
    .content-box .reminder-container .add-item-button {
      position: absolute;
      top: 15px;
      right: -50px;
      background-color: #fff;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      display: flex;
      justify-content: center;
      align-items: center; }
      .content-box .reminder-container .add-item-button:hover {
        background-color: #79a847; }
        .content-box .reminder-container .add-item-button:hover .icon-add {
          fill: #ddd; }
      .content-box .reminder-container .add-item-button .icon-add {
        fill: #8cc150;
        transition: 0.2s; }
    .content-box .reminder-container .add-item-cell {
      margin: 5px 10px 10px 10px;
      font-weight: normal;
      transition: 0.2s; }
      .content-box .reminder-container .add-item-cell .add-item-content {
        height: 0;
        border: 0;
        outline: 0;
        color: #79a847;
        overflow: hidden;
        line-height: 30px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        transition: 0.2s; }
    .content-box .reminder-container .add-item-container.open .icon-add {
      fill: #8cc150;
      transform: rotate(45deg) !important; }
    .content-box .reminder-container .add-item-container.open .add-item-content {
      position: relative;
      width: 100%;
      padding: 5px 0 5px 24px;
      height: 30px;
      opacity: 1; }

input[type=checkbox] {
  cursor: pointer;
  visibility: hidden;
  position: relative; }

input[type=checkbox]:after {
  content: " ";
  background-color: #fff;
  display: inline-block;
  color: #79a847;
  width: 16px;
  height: 20px;
  padding-left: 4px;
  visibility: visible;
  vertical-align: middle;
  border-radius: 5px;
  position: relative;
  top: -1px; }

input[type=checkbox].checked:after {
  content: "\2714";
  font-weight: bold; }

/*# sourceMappingURL=todo.css.map */
