* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Helvetica, 'Helvetica Neue', Arial, sans-serif; }

body {
  font: inherit;
  color: inherit;
  font-size: 14px;
  background-color: #f6f6f6; }

ul, li {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

img {
  vertical-align: top; }

svg {
  fill: inherit;
  vertical-align: text-bottom; }

svg > path {
  pointer-events: none; }

.clear-fix:after {
  content: '';
  display: block;
  clear: both; }

center, header > .header-container {
  display: flex;
  align-items: center; }

@media (min-width: 1012px) {
  header > .header-container {
    width: 984px; }

  header .header-logo {
    margin-right: 30px; }

  .input-wrapper input {
    width: 300px; }

  .header-container > .header-info {
    width: 151px; } }
@media (min-width: 760px) and (max-width: 1011px) {
  header > .header-container {
    width: 700px; }

  header .header-search {
    flex: 1; }

  .input-wrapper input {
    width: 200px; }

  .header-container > .header-info {
    width: 151px; } }
@media (max-width: 650px) {
  header .header-login .signIn {
    display: none; } }
@media (max-width: 576px) {
  header .header-nav {
    display: none; } }
@media (max-width: 376px) {
  header .header-search {
    display: none !important; } }
header {
  font-size: 15px;
  width: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 100;
  margin-bottom: 100px;
  background-color: #fff; }
  header > .header-container {
    margin: 0 auto;
    padding: 8px; }

header .header-logo a {
  display: flex;
  fill: #00a699; }

.header-nav > a.active {
  color: #00736a; }

.header-nav > a {
  display: inline-block;
  color: #1e1e1e;
  height: inherit;
  padding: 0 15px;
  font-size: 20px;
  line-height: 30px; }
  .header-nav > a:hover {
    color: #FF7851; }

header .header-search {
  flex: 1;
  display: flex;
  justify-content: center; }
  header .header-search .input-wrapper {
    box-sizing: border-box; }
  header .header-search input {
    display: block;
    margin: 0 auto;
    height: 20px;
    font-size: 15px;
    line-height: 20px;
    overflow: hidden;
    border-radius: 3px;
    padding: 6px 20px 6px 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #f6f6f6;
    outline: 0; }

header .header-info {
  margin-left: auto; }

header .header-avatar {
  cursor: pointer;
  position: relative;
  margin-right: 35px;
  float: right; }
  header .header-avatar > img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: right; }

.header-avatar .header-popover {
  display: none;
  position: absolute;
  left: 0;
  top: 48px;
  transform: translateX(calc(-50% + 15px));
  border-radius: 3px;
  font-size: 14px; }

.header-popover.show-user {
  display: block; }
  .header-popover.show-user:focus {
    outline: 0; }

header .header-login .signIn {
  color: #00a699;
  margin-right: 10px; }
  header .header-login .signIn:hover {
    color: #e83e8c; }
header .header-login .signUp {
  color: #00a699;
  border: 1px solid rgba(0, 166, 153, 0.3);
  padding: 6px;
  border-radius: 3px;
  box-sizing: border-box; }
  header .header-login .signUp:hover {
    color: #fff;
    background-color: #00a699;
    border-color: #00a699; }

@media (min-width: 1012px) {
  .main > .main-container {
    width: 984px; }

  body > .main .blog-main {
    width: 690px;
    margin-right: 10px; }

  .blog-slide .hot-tag {
    max-width: 284px; } }
@media (min-width: 800px) and (max-width: 1011px) {
  .main > .main-container {
    width: 760px; }

  body > .main .blog-main {
    width: 475px; }

  .blog-slide .hot-tag {
    max-width: 284px; }

  .wd-card .card-action > span + span {
    margin-left: 0 !important; } }
@media (min-width: 700px) and (max-width: 800px) {
  .main > .main-container {
    width: 650px !important; }

  .wd-card .card-action > span + span {
    margin-left: 0 !important; }

  body > .main .blog-main {
    width: 485px !important; }

  .blog-slide .hot-tag {
    max-width: 224px !important; } }
@media (min-width: 490px) and (max-width: 700px) {
  .main > .main-container {
    width: 455px !important; } }
@media (max-width: 700px) {
  .main .blog-slide {
    display: none; } }
@media (max-width: 490px) {
  .main > .main-container {
    width: 100% !important;
    margin: 0 auto; }

  .blog-main .wd-card .card-action {
    display: none !important; }

  .blog-main .wd-card .card-remove {
    display: none !important; } }
.main {
  padding-top: 80px;
  font-size: 15px;
  width: 100%; }
  .main > .main-container {
    margin: 0 auto;
    padding: 8px;
    display: flex;
    flex-direction: row; }
  .main .blog-main {
    margin-right: 10px; }

/*# sourceMappingURL=html.css.map */
