<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> a new html</title>
    <link rel="stylesheet" href="./html.css">
</head>
<body>

<header>
    <div class="header-container">
        <div class="header-logo">
            <a href="">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#004D40" height="36" viewBox="0 0 24 24" width="36"><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg>
            </a>
        </div>
        <nav class="header-nav">
            <a href="#" class="header-main active">Main</a>
            <a href="#" class="header-blog">Blog</a>
            <a href="#" class="header-todo">Todo</a>
        </nav>
        <div class="header-search">
            <input type="text" placeholder="search">
        </div>
        
        <div class="header-info">
            <div class="header-avatar">
                <img src="https://vip.kybmig.cc/uploads/avatar/default.gif" alt="">
                <div class="header-popover">
    
</div>
            </div>
            
        </div>
        
        
    </div>
</header>

<div class="main"></div>
<footer></footer>



</body>
</html>