<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> a new html</title>
    <link rel="stylesheet" href="./html.css">
    <link rel="stylesheet" href="./slide.css">
    <link rel="stylesheet" href="./card.css">
    <link rel="stylesheet" href="./popover.css">
    <script src="../../static/js/fontawesome-all.min.js"></script>
    


    <link rel="stylesheet" href="/static/css/css/html.css">
    <link rel="stylesheet" href="/static/css/css/slide.css">
    <link rel="stylesheet" href="/static/css/css/card.css">
    <link rel="stylesheet" href="/static/css/css/popover.css">
    <script src="/static/js/fontawesome-all.min.js"></script>
</head>
<body>

<header>
    <div class="header-container">
        <div class="header-logo">
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#004D40" height="36" viewBox="0 0 24 24" width="36"><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg>
            </a>
        </div>
        <nav class="header-nav">
            <a href="#" class="header-main active">Main</a>
            <a href="#" class="header-blog">Blog</a>
            <a href="#" class="header-todo">Todo</a>
        </nav>
        <div class="header-search">
            <div class="input-wrapper">
            <input type="text" placeholder="search">
            </div>
        </div>
        
        <div class="header-info">

            <!--before login-->
            {% if u.role == -1 %}

                       <div class="header-login">
                           <a href="#" class="signIn" data-action="signIn">Sign in</a>
                           <a href="#" class="signUp">Get Started</a>
                       </div>


                       <!--after login-->

            {% else %}
            <div class="header-avatar">
                <img src="https://vip.kybmig.cc/uploads/avatar/default.gif" alt="" data-action="avatar">
                <div class="header-popover" tabindex="0" >
                        <ul class="wd-popover-list">
                            <li class="item" data-action="profile">
                                <a href="#">
                                    <svg viewBox="0 0 20 20" width="14" height="16" aria-hidden="true" style="height: 16px; width: 14px;">
                                        <g>
                                            <path d="M13.4170937,10.9231839 C13.0412306,11.5757324 12.5795351,12.204074 12.6542924,12.7864225 C12.9457074,15.059449 18.2164534,14.5560766 19.4340179,15.8344151 C20,16.4286478 20,16.4978969 20,19.9978966 C13.3887136,19.9271077 6.63736785,19.9978966 0,19.9978966 C0.0272309069,16.4978969 0,16.5202878 0.620443914,15.8344151 C1.92305664,14.3944356 7.20116276,15.1185829 7.40016946,12.7013525 C7.44516228,12.1563518 7.02015319,11.5871442 6.63736814,10.9228381 C4.51128441,7.2323256 3.69679769,4.67956187e-11 10,9.32587341e-14 C16.3032023,-4.66091013e-11 15.4216968,7.4429255 13.4170937,10.9231839 Z"></path>
                                        </g>
                                    </svg>
                                    <span>Profile</span>
                                </a>
                            </li>
                            <li class="item" data-action="logOut">
                                <a href="#">
                                    <svg viewBox="0 0 20 20" class="Icon Button-icon Icon--logout" width="14" height="16" aria-hidden="true" style="height: 16px; width: 14px;"><title></title>
                                        <g>
                                            <path d="M0 10C0 7.242 1.154 4.58 3.167 2.697c.51-.477 1.31-.45 1.79.06.475.51.45 1.31-.06 1.787C3.37 5.975 2.53 7.91 2.53 10c0 4.118 3.35 7.468 7.47 7.468 4.12 0 7.47-3.35 7.47-7.47 0-2.04-.81-3.948-2.28-5.37-.5-.485-.514-1.286-.028-1.788.485-.5 1.286-.517 1.79-.03C18.915 4.712 20 7.265 20 10c0 5.512-4.486 9.998-10 9.998s-10-4.486-10-10zm8.7-.483V1.26C8.7.564 9.26 0 9.96 0c.695 0 1.26.564 1.26 1.26v8.257c0 .696-.565 1.26-1.26 1.26-.698 0-1.26-.564-1.26-1.26z"></path>
                                        </g>
                                    </svg>
                                    <span>Logout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endif  %}
            
        </div>
</header>


<div class="main">
    <div class="main-container">
        <section class="blog-main">

            <div class="wd-card">
            <span class="card-remove">
                          <svg class="icon icon-clear" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                              <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>
                    </span>

            <div class="feed-date">
                published by {{ t.createdTime | formattedTime() }}
            </div>

            <div class="feed-author">
                <a href="#" class="author-avatar">
                    <img src="https://vip.kybmig.cc/uploads/avatar/default.gif" alt=""/>
                </a>
                <div class="author-detail">
                    <div class="author-name">
                        <a href="#"> {{ t.username }}</a>
                    </div>
                    <span class="author-note">
                        {{ t.note }}
                    </span>
                </div>
            </div>

            <div class="content-box">
                <a href="/topic/{{t._id}}" class="content-title" style="display: inline-block">
                    <span>{{ t.title }}</span>
                </a>
                <a href="/topic/{{t._id}}" class="content-main">
                            <span class="content-detail">
                               {{ t.brief }}
                            </span>
                    <span class='content-expand'>
                                <span>more</span>
                                <svg class="icon icon-down" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/></svg>
                            </span>
                </a>
            </div>

            <div class="card-action">
                <span class="topic-tag {{ t.tag }} front-end">
                    {{ t.tag }}
                </span>

                <span class="action-star">
                    <i class='fas fa-star icon-font icon-star'></i>
                    <span class="star-count">
                        233&nbsp;Stars
                    </span>
                </span>

                <span class="action-comments">
                    <i class='fas fa-comments icon-font icon-comments'></i>
                    <span class="comments-count">23&nbsp;Comments</span></span>

                <span class="action-like">
                    <i class='fas fa-heart icon-font icon-like'></i>
                    Like
                </span>

                <!--<span class="action-share">-->
                <!--<i class='fas fa-share-alt icon-font icon-share' ></i>-->
                <!--share-->
                <!--</span>-->
            </div>

        </div>

            {% for t in topics %}

            {{ t }}

            <div class="wd-card">
            <span class="card-remove">
                          <svg class="icon icon-clear" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                              <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>
                    </span>

                <div class="feed-date">
                    published by {{ t.createdTime | formattedTime() }}
                </div>

                <div class="feed-author">
                    <a href="#" class="author-avatar">
                        <img src="https://vip.kybmig.cc/uploads/avatar/default.gif" alt=""/>
                    </a>
                    <div class="author-detail">
                        <div class="author-name">
                            <a href="#"> {{ t.username }}</a>
                        </div>
                        <span class="author-note">
                        {{ t.note }}
                    </span>
                    </div>
                </div>

                <div class="content-box">
                    <a href="/topic/{{t._id}}" class="content-title" style="display: inline-block">
                        <span>{{ t.title }}</span>
                    </a>
                    <a href="/topic/{{t._id}}" class="content-main">
                            <span class="content-detail">
                               {{ t.brief }}
                            </span>
                        <span class='content-expand'>
                                <span>more</span>
                                <svg class="icon icon-down" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/></svg>
                            </span>
                    </a>
                </div>

                <div class="card-action">
                <span class="topic-tag {{ t.tag }} front-end">
                    {{ t.tag }}
                </span>

                    <span class="action-star">
                    <i class='fas fa-star icon-font icon-star'></i>
                    <span class="star-count">
                        233&nbsp;Stars
                    </span>
                </span>

                    <span class="action-comments">
                    <i class='fas fa-comments icon-font icon-comments'></i>
                    <span class="comments-count">23&nbsp;Comments</span></span>

                    <span class="action-like">
                    <i class='fas fa-heart icon-font icon-like'></i>
                    Like
                </span>

                    <!--<span class="action-share">-->
                    <!--<i class='fas fa-share-alt icon-font icon-share' ></i>-->
                    <!--share-->
                    <!--</span>-->
                </div>

            </div>

            {% endfor %}

        </section>

        <section class="blog-slide">
            <div class="blog-create">
                <a href="/topic/new">CRATE A TOPIC
                </a>
            </div>
            <div class="hot-tag">
                <div class="tag-header">
                    <span class="tag-title">Hot Tag</span>
                </div>
                <ul class="tag-list ">
                    <li class="tag-item front-end">
                        <span>front-end</span>
                    </li>

                    <li class="tag-item back-end">
                        <span >front-end</span>
                    </li>

                    <li class="tag-item back-end">
                        <span >front-end</span>
                    </li>
                    <li class="tag-item back-end">
                        <span >front-end</span>
                    </li>
                    <li class="tag-item back-end">
                        <span >front-end</span>
                    </li>
                    <li class="tag-item back-end">
                        <span >front-end</span>
                    </li>
                </ul>

            </div>

            <div class="star-ranking">
                <div class="rank-header">
                    <span class="rank-title">
                        Star Ranking
                    </span>
                        <div class="rank-wrapper">
                            <span class="rank-source">
                                weekly
                            </span>
                            <svg class="icon icon-down" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"></path></svg>
                            <ul class="wd-popover-list rank-source-menu ">
                            <li class="source-item active">weekly</li>
                            <li class="source-item" >monthly</li>
                            <li class="source-item">total</li>
                        </ul>
                    </div>
                </div>
                <ul class="rank-list ">
                    <li class="rank-hero">
                        <span class="hero-number">1</span>
                        <a href="#" class="hero-info">
                            <img src="https://vip.kybmig.cc/uploads/avatar/default.gif" alt="" class="hero-avatar">
                            <span class="hero-name">
                                front-end
                            </span>

                        </a>
                        <span class="hero-score">2333</span>
                    </li>

                    <li class="rank-hero">
                        <span class="hero-number">2</span>
                        <a href="#" class="hero-info">
                            <img src="http://www.material-ui.com/images/ok-128.jpg" alt="" class="hero-avatar">
                            <span class="hero-name">
                                front-end
                            </span>

                        </a>
                        <span class="hero-score">2333</span>
                    </li>

                </ul>
            </div>
        </section>
    </div>
</div>


<footer></footer>

<link rel="stylesheet" href="/static/css/css/login.css">
<script src="/static/js/wd.js"></script>
<script src="/static/js/todoApi.js"></script>
<script src="/static/js/login.js"></script>
</body>
</html>