.wd-login-container, .wd-login-container * {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  box-sizing: border-box;
}
.wd-login-container{
  font-size: 15px;
  font-family: Helvetica,Arial,sans-serif;
  padding: 30px;
}
.wd-login-container a{
  text-decoration: none;
}
.wd-login-container img{
  vertical-align: top;
}
.wd-login-container.alert-show div{
  display: block;
  opacity: 1
}

.wd-login-overlay{
  display: none;
  opacity: 0;
  background-color: rgba(255,255,255, 0.4);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 998;
}

.wd-login-box{
  display: none;
  width: 500px;
  background-color: #E8F3EC;
  position: fixed;
  left: 50%;
  top: 50%;
  padding: 50px 20px;
  border-radius: 5px;
  text-align: center;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  animation: wdAlertShow 0.3s;
  z-index: 999;
}

@keyframes wdAlertShow {
  0% {
    -webkit-transform:translate(-50%, -50%)  scale(.7);
    transform:translate(-50%, -50%)  scale(.7);
  }
  45% {
    -webkit-transform:translate(-50%, -50%)  scale(1.05);
    transform:translate(-50%, -50%)  scale(1.05);
  }
  80% {
    -webkit-transform:translate(-50%, -50%)  scale(.95);
    transform:translate(-50%, -50%)  scale(.95);
  }
  100% {
    -webkit-transform:translate(-50%, -50%)  scale(1);
    transform:translate(-50%, -50%)  scale(1);
  }
}
.wd-login-box > .wd-login-title{
  color: #575757;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  text-transform: none;
  position: relative;
  margin: 0;
  padding: 0;
  line-height: 60px;
  display: block;
}
.wd-login-box  .wd-login-content {
  font-size: 18px;
  text-align: center;
  font-weight: 300;
  position: relative;
  float: none;
  margin: 0;
  padding: 0;
  line-height: normal;
  color: #555;
}

.wd-login-box  .wd-login-input{
  width: 60%;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #d7d7d7;
  margin: 10px auto;
  font-size: 18px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  height: 40px;
  padding: 0 12px;

}

.wd-login-box .wd-login-btns{
  margin: 30px auto 0;
}
.wd-login-box .wd-login-btn{
  margin: 0 5px;
  color: #fff;
  border: 0;
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  border-radius: 5px;
  padding: 10px 32px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #999;
}

.wd-login-btn:hover{
  background-color: #888;
}

.wd-login-box .wd-login-btn:focus{
  outline: 0;
  border: 0;
}

.wd-login-btn.wd-login-submit, .wd-login-btn.wd-login-notice {
  background-color: rgba(48, 133, 214, 0.8);
}
.wd-login-btn.wd-login-submit:hover, .wd-login-btn.wd-login-notice:hover{
  background-color: rgba(43, 120, 193, 0.9);
}

.wd-login-btn.wd-alert-confirm {
  background-color: rgb(92,184,92);
}
.wd-login-btn.wd-alert-confirm:hover{
  background-color: rgb(68,157,68);
}

.wd-login-btn.wd-login-cancel{
  background-color: #999;
}
.wd-login-btn.wd-login-cancel:hover{
  background-color: #888;
}

.wd-login-btn.wd-login-reject{
  background-color: #d9534f;
}
.wd-login-btn.wd-login-reject:hover{
  background-color: #c9302c;
}

.wd-login-signup, .wd-login-signup{
  margin-top: 30px;
  & a{
    color: #00a699;
    text-decoration: underline;

    &:hover{
      color: #2b78c1;
    }
  }
}